python-dotenv
pytz
aiohttp
psutil
humanize
humanfriendly
py-cord
easy-pil
captcha
clipboard
pychalk
speedtest-cli
pymongo
bunnet

zenora
requests
stripe

# REPLACED Flask with Quart
quart
quart-cors
uvicorn  