<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">  
    <h1 class="logo">
      <a href="/">BobCat Inc</a>
    </h1>
    
    <nav id="navbar" class="navbar">
      {% if user %}
      <div class="dropdown">
        <a class="nav-profile nav-link">
          <img src="{{user.avatar_url}}" alt="" style="width: 32px;height: 32px;border-radius: 50%;">
        </a>
        <ul class="nav-profile user">
          <li><a href="/dashboard">
            <span>My servers</span>
          </a></li>
          
          <hr style="color: lightgray;margin: 5px 0px;">
          
          <li><a href="/oauth/logout" class="text-danger">
            <span>Logout</span>
          </a></li>
        </ul>
      </div>
      {% else %}
      <a href="{{logInWithDiscord}}" class="nav-profile getstarted">
        <i class="bi bi-discord me-2"></i>
        Login
      </a>
      {% endif %}

      <i class="bi bi-list mobile-nav-toggle ms-2"></i>

      <ul class="navbar-ul">
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/#about">About</a></li>
        <li class="dropdown"><a href="/#plugins"><span>Plugins</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/plugins/management">Moderation & Management</a></li>
            <li><a href="/plugins/utilities">Utilities</a></li>
            <li><a href="/plugins/engagement-and-fun">Engagement & Fun</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/#team">Team</a></li>
        <li><a class="nav-link" target="popup" style="cursor: pointer;"
          onclick='window.open("{{inviteURL}}", "Invite | Bobat Inc", "width=487,height=805")'>Invite</a>
        </li>
      </ul>
    </nav>
  </div>
</header>