<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coming Soon | BobCat</title>
  {% include 'include/dash-links.html' %}
</head>
<body>
  <div class="auth-layout auth-centered">

    <!-- Content Side -->
    <div class="auth-content">
      <a href="{{ url_for('web.index') }}" class="auth-logo d-none"></a>

      <div class="auth-content-inner">
        <div class="error-page error-coming-soon">
          <div class="error-tile">
            <i class="ph ph-rocket-launch"></i>
          </div>
          <h1 class="error-title">Something awesome is coming!</h1>
          <p class="error-text">
            We're working hard to bring you something amazing.
            <!-- Sign up to be the first to know when we launch. -->
          </p>

          <!-- Countdown Timer -->
          
          <!-- Notify Form
          <form class="error-notify">
            <input type="email" placeholder="Enter your email" aria-label="Email address" required="">
            <button type="submit" class="error-btn">Notify Me</button>
          </form> -->
        </div>
      </div>

      <!-- Footer -->
      <footer class="auth-footer">
        <div class="footer-copyright">
          © 2026 BobCat & <a href="https://bootstrapmade.com/trendy-admin-bootstrap-dashboard-template/">BootstrapMade TrendyAdmin</a>. All Rights Reserved.
        </div>
      </footer>
    </div>
  </div>
</body>
</html>